/* Applica Flexbox al contenitore .social */
.social-bianco {
  display: flex;
}

/* Stile per l'elenco */
.social-bianco ul {
  display: flex;
  list-style: none; /* Rimuovi i punti elenco */
  padding: 0;
  margin: 0;
  gap: 20px;
}

/* Stile per ogni elemento dell'elenco */
.social li {
  margin: 0 10px; /* Spaziatura tra le icone */
}

.feedback {
  padding-bottom: 24px;
  padding-top: 24px;
  text-align: left;
  text-size-adjust: 100%;
}

.feedback-container {
  background: #00368f;
}

.scroll-up {
  border-bottom: 1px solid #00368f;
  margin-bottom: 1pc;
  padding: 6px 0;
}
.scroll-up-container {
  background-color: #002460;
}
*,
:after,
:before {
  box-sizing: border-box;
}

.bottone {
  cursor: pointer;
  border-color: #18cee7;
  color: #18cee7;
  border-width: 2px;
  color: #2f6dd5;
  font-weight: 700;
  padding: 9pt 40px;
  background-color: #002460;
}

.info {
  background-color: #00163b;
  height: 25vh;
  display: flex;
}
.copyright-container {
  background-color: #00368f;
}
.bianco {
  color: white;
}

.libreria-link {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.libreria-link > div {
  flex: 1 1 200px;
  min-width: 200px;
}

.libreria-link li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.libreria-link li {
  margin-bottom: 10px;
}

/* Stile per i link */
.libreria-link a {
  text-decoration: none;
  text-align: center;
  color: #18cee7;
}

.libreria-link a:hover {
  text-decoration: underline;
  color: #8ce7f3;
}

.libreria-link .bianco {
  color: #fff;
}
/* .libreria-link ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
  text-align: left;
  background-color: #00163b;
  padding: 0%;
} */

footer.footer {
  background-color: #00163b;
  color: #fff;
}
.p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125rem;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header,
footer {
  color: white;
  text-align: center;
}

li {
  background-color: #00163b;
}

.logo {
  display: flex;
  justify-content: flex-start;
}
.info-legale {
  display: flex;

  justify-content: flex-end;
}

.feedback-container2,
.scroll-up-container2,
.libreria-link-container2,
.info-container2,
.copyright-container2 {
  margin-left: 200px;
  margin-right: 200px;
}
@media (max-width: 575px) {
  .feedback-container2,
  .scroll-up-container2,
  .libreria-link-container2,
  .info-container2,
  .copyright-container2 {
    margin-left: 20px;
    margin-right: 20px;
  }
}
