.page{
    display: flex;
    margin: 30px;
}
h2{
color: #00173d;
font-size: 30px;
margin: 30px;
}
.card{
    width: 300px;
    height: 220px;
    background-color: #00173d;
    padding: 45px;
    border-radius: 2%;
}
p{
    color: white;
    font-size: 19px;
}
a{
    color: #18CEE7;
    font-size: 30px;
    cursor: pointer;
}
