@media (min-width: 576px) {
  .menu-container {
    padding: 0 6px;
  }
}

@media (min-width: 992px) {
  .menu-container {
    padding: 0 10px;
  }
}

@media (min-width: 1200px) {
  .menu-container {
    padding: 0 14px;
  }
}
/*body*/

body {
  font-family: "Titillium Web";
  margin-left: 150px;
}

body {
  font-family: "Titillium Web", sans-serif;
  background: #ffffff;
}

/*link*/
.link1 {
  color: #18cee7;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bold;
  line-height: 1.875rem;
  text-decoration: underline;
}

.link2 {
  color: #2f6dd5;
}

.link3 {
  color: red;
}

.link3:hover {
  color: #00368f;
}

.page {
  display: flex;
  margin: 30px;
}
h2 {
  color: #002460;
  font-size: 30px;
  margin: 30px;
}

.card {
  width: 270px;
  height: 220px;
  background-color: #00173d;
  padding: 45px;
  border-radius: 2%;
}
p {
  color: white;
  font-size: 17px;
}

.card2 {
  width: 270px;
  height: 220px;
  padding: 40px;
  border: solid 1px rgb(244, 241, 241);
}

.subcard {
  color: #454d56;
  font-size: 16px;
}
.card-data {
  color: #5b6772;
  font-family: Roboto Mono;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.313rem;
  margin-bottom: 0;
  text-transform: capitalize;
  padding-bottom: 15px;
}

.page2 {
  display: flex;
  gap: 25px;
}

.menu-container {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}

.menu {
  background: #f2f6fc;
  border-radius: 8px;
  padding: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.menu-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  color: #002460;
}

.menu-header .icon {
  font-size: 1.5em;
}

.menu-header h3 {
  color: inherit;
  font-size: 1.2em;
  margin: 0;
}

.menu ul {
  list-style: square;
  color: #2f6dd5;
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
}

.menu ul li {
  margin-bottom: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-left: 15px;
}

.menu ul li .link3 {
  font-weight: bold;

  text-decoration: underline;
  font-size: 0.9em;
}

.page3 {
  display: flex;
  gap: 25px;
}

.main {
  display: flex;
  flex-direction: column;
}



@media screen and (max-width: 1200px) {
  body {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  .page,
  .card,
  .page2,
  .page3 {
    flex-wrap: wrap;
  }
}
