* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  color: #ffffff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  padding: 5px 10px;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

.nav-links a:hover {
}

.search-Bar {
}
.inps-foto {
}

.tre {
  display: flex;
  align-items: center; /* Allinea verticalmente */
  justify-content: space-between; /* Distribuisce gli elementi */
  width: 100%;
  max-width: 1200px; /* Regola la larghezza massima */
  margin: 0 auto;
  padding: 10px 20px;
}

.inps-logo img {
  height: 60px; /* Regola l'altezza del logo */
}
.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  padding: 8px;
  width: 300px;
  border: 1px solid #ccc;
}

.search-button {
  padding: 8px 15px;
  background-color: #0073e6;
  color: white;
  border: none;
  cursor: pointer;
}
.search-bar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
